@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    color: #202020;
}

body{
    font-family: 'Roboto', sans-serif;
}


ul li{
    list-style: none;
}
/* ---------- */
/* COMPONENTES*/
/* ---------- */
a{
    font-size: 2rem;
    text-decoration: none;
    color: #202020;
}

a:hover{
    text-decoration: underline;
}



h1,
h2,
h3,
h4,
h5,
h6{
    font-size: clamp(4rem, 5rem, 7rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}


h2{
    font-size: clamp(3rem, 4rem , 5rem);
}

h3{
    font-size: clamp(2rem, 3rem, 4rem);
}

h4,
h5,
h6{
    font-size: clamp(2rem, 3rem , 4rem);
}

p, a, li{
    font-size: clamp(2.4rem, 2.4rem, 2.4rem);
    text-decoration: none;
}

.button{
    background-color: #222751;
    cursor: pointer;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border: none;
    border-radius: .5rem;
    color: white;
    padding: 1rem 3rem;
}

.button:hover{
    color: white !important;
    background: #333866;
}

.container{
    margin: 0 auto;
    max-width: 130rem;
    padding: 0 2rem;
}
/* ------------ */
/* HEADER */
/* ------------ */
header{
   background-color: #222751;
    color: white;
    z-index: 2;
    
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}
header nav > a,
footer > a{
    font-size: 3.5rem;
    color: white;
    text-decoration: none;
    font-family: 'Syncopate', serif;
}

header nav > a:hover,
footer > a:hover{
    color: white;
    text-decoration: none;
}

header ul{
    display: flex;
    gap: 2rem;
}
header ul li a{
    color: white;
}

#menu-buttom{
    display: none;
}

@media screen and (max-width: 768px){
    header .container{
        padding: 0 2rem;
    }
    #menu-buttom:checked + label + ul{
        display: flex;
    }
    #menu-buttom:checked + label span{
        background-color: transparent;
    }

    #menu-buttom:checked + label span::after{
        display: none;
    }
    #menu-buttom:checked + label span::before{
        content: 'X';
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 2rem;
        top: -3rem;
        width: 4rem;
        height: 4rem;
        background-color: #222751;
        position: absolute;
        z-index: 3;
    }


    header nav ul{
        display: none;
        gap: 10px;
        width: 100%;
        height: 100vh;
        background-color: #141414;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header label{
        cursor: pointer;
    }

    header label span::before,
    header label span::after,
    header label span{
        display: block;
        width: 5rem;
        height: .3rem;
        background-color: white;
        margin: 1rem 0;
        position: relative;
        z-index: 3;
    }

    header label span::before{
        content: '';
        position: absolute;
        top: .3rem;
    }

    header label span::after{
        content: '';
        position: absolute;
        bottom: .3rem;
    }
}



/* ----------- */
/* MAIN */
/* ----------- */

main{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

main .header-info > h1{
    font-family: 'Syncopate', sans-serif;
    color: #222751;
    margin-bottom: 1rem;
    font-size: 7rem;
}


main h3{
    font-weight: 600;
}
main h1,
main h3,
main p,
main .button{
    margin-bottom: 2.5rem;
}

main p{
    text-align: center;
    max-width: 60rem;
    margin: 0 auto;
    margin-bottom: 4rem;
}

main .header-info{
    text-align: center;
}



main hr{
    width: 200px;
    height: .2rem;
    background-color: #222751;
    margin: 0 auto;
    margin-bottom: 4rem;
}
/* ------------ */
/* VIDEO */
/* ------------ */

#video{
    display: flex;
    justify-content: center;
    width: 100%;
}
#video .block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}
#video .block iframe{
    display: block;
    width: 80%;
    min-height: 50rem;
    height: 55rem;
}

/* ----------- */
/* SLIDE */
/* ----------- */
#code-snippets{ 
    background-color: #1B1E34;
    padding: 4rem;
    margin: 4rem 0;
}

#code-snippets .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#code-snippets .slide{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
}

#code-snippets .content-texto h2{
    color: white;
    margin: 3rem 0;
    max-width: 100rem;
    text-align: center;
}



/* ----------------- */
/* TRILHAS */
/* ----------------- */

#trilhas h1{
    color: #222751;
}


#trilhas h1{
    text-align: center;
    padding: 2rem;
}
#trilhas .tracks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.6rem;
    padding: 2rem;
   
}

#trilhas .track{
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    border: 4px solid #C4C4C4;
    border-radius: 1rem;
    margin: 2.5rem 0;
    padding: 3rem 3rem;
    min-width: 30rem;
    gap: 3rem;
}


#trilhas h2{
    color: #222751;
}
#trilhas .track-info{
    width: 30rem;
}

#trilhas .track:not(.track-download):hover{
    cursor: pointer;
    background-color: #222751;
    border: none;
}

#trilhas .track:not(.track-download):hover h2,
#trilhas .track:not(.track-download):hover p{
    color:white;
}

#trilhas .track-download{
    flex-grow: 1;
    background-color: #222751;
    color: white; 
    border: none;
    max-width: 70rem;
}

#trilhas .track-download:hover{
    cursor: pointer;
    background-color: #333866;
}

#trilhas .track-download h2{
    color: white;
}

#trilhas .track-download .track-info{
    width: 35rem;
}


footer{
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222751;
}

footer h5{
    color: white;
    margin-top: 3rem;
    font-family: 'Syncopate', sans-serif;
}

footer ul{
    margin: 3rem 0;
    display: flex;

}

footer ul a{
    color: white;
    margin-right: 1rem;
}

@media screen and (min-width: 320px) and (max-width:624px){
    #code-snippets .slide{
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    #code-snippets .content-texto{
        max-width: 90%;
    }
}

@media screen and (min-width: 625px) and (max-width:901px){
    #code-snippets .slide{
        justify-content: center;
    }
    #code-snippets .content-texto{
        max-width: 50rem;
        width: 100%;
        min-width: 32rem;
    }

}
