@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

li{
    list-style-type: none;
}

a{
    color: black;
    cursor: pointer;
}



h1,
h2,
h3,
h4,
h5,
h6{
    font-size: clamp(4rem, 5rem, 7rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}


h2{
    font-size: clamp(3rem, 4rem , 5rem);
}

h3{
    font-size: clamp(2rem, 3rem, 4rem);
}

h4,
h5,
h6{
    font-size: clamp(2rem, 3rem , 4rem);
}

p, a, li{
    font-size: clamp(2.4rem, 2.4rem, 2.4rem);
    text-decoration: none;
}


a:hover{
    text-decoration: underline;
    color: #9b9ec0;
}
.container{
    margin: 0 auto;
    max-width: 130rem;
}


/* HEADER */
header{
    background-color: #222751;
    color: white;
    z-index: 2;
    position: relative;
    
}

header nav{
    display: flex;
    justify-content: space-between;
    padding:3rem 0;
}
header  h3{
    font-family: 'Syncopate', serif;
}

header nav ul{
    display: flex;
    gap: 10px;
}

header ul li a{
    color: white;
}


#videos{
    padding: 8rem 0;
    background-color: #121213;
    display: flex;
    flex-direction: column;
}
#videos .video{
    padding-bottom: 5rem;
    border-bottom: 1px solid #222751;
    margin-bottom: 5rem;
}
.video iframe{
    width: 130rem;
    height: 50rem;
}

#videos .video h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 2rem;
}