@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: black;
}

li{
    list-style-type: none;
}

a{
    color: black;
    cursor: pointer;
}



h1,
h2,
h3,
h4,
h5,
h6{
    font-size: clamp(3rem, 4rem, 5rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


h2{
    font-size: clamp(2.5rem, 3.6rem , 4.6rem);
}

h3{
    font-size: clamp(2.4rem, 3.5rem, 4rem);
}

p, a, li{
    font-size: clamp(2.4rem, 2.4rem, 2.4rem);
    text-decoration: none;
}


a:hover{
    text-decoration: underline;
    color: #9b9ec0;
}
.container{
    margin: 0 auto;
    max-width: 130rem;
    padding: 0 2rem;
}
body{
    position: relative;
    background-color: #141414;
    color: white;
}

mark{
    background-color: #343a6b;
    padding: 0 1rem;
    color: white;
}
/* MENU */
header{
    background-color: #222751;
    color: white;
    z-index: 2;
    
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}
header nav > a,
footer > a{
    font-size: 3.5rem;
    color: white;
    text-decoration: none;
    font-family: 'Syncopate', serif;
}

header nav > a:hover,
footer > a:hover{
    color: white;
    text-decoration: none;
}

header ul{
    display: flex;
    gap: 2rem;
}
header ul li a{
    color: white;
}

#menu-buttom{
    display: none;
}

@media screen and (max-width: 768px){
    #menu-buttom:checked + label + ul{
        display: flex;
    }
    #menu-buttom:checked + label span{
        background-color: transparent;
    }

    #menu-buttom:checked + label span::after{
        display: none;
    }
    #menu-buttom:checked + label span::before{
        content: 'X';
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 2rem;
        top: -3rem;
        width: 4rem;
        height: 4rem;
        background-color: #222751;
        position: absolute;
        z-index: 3;
    }


    header nav ul{
        display: none;
        gap: 10px;
        width: 100%;
        height: 100vh;
        background-color: #141414;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header label{
        cursor: pointer;
    }

    header label span::before,
    header label span::after,
    header label span{
        display: block;
        width: 5rem;
        height: .3rem;
        background-color: white;
        margin: 1rem 0;
        position: relative;
        z-index: 3;
    }

    header label span::before{
        content: '';
        position: absolute;
        top: .3rem;
    }

    header label span::after{
        content: '';
        position: absolute;
        bottom: .3rem;
    }
}

/* --------------------- FIM MENU --------------------- */

#content > .container{
    margin-top: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content h1{
    font-size: 6rem;
    text-transform: uppercase;
    color: #DFE1EB;
}
#content > .container > p{
    border-left: 1rem solid #222751;
    padding-left: 1rem ;
    max-width: 60rem;
    margin: 3rem 0;
}

#content .button{
    display: inline-block;
    margin: 2rem 2rem ;
    border: 1px solid #343a6b;
    text-transform: uppercase;
    color: white;
    border-radius: 1rem;
    padding: .5rem 1.5rem;
}

#content .button:first-of-type{
    background-color: #343a6b;
}

#content .button:hover{
    text-decoration: none;
    
}
#download{
    background-color: #222222;
}
#download .container{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.download p,
.download code{
    margin: 3rem 0;
}

#download h2{
    max-width: 25rem;
    margin-top: 2rem;
    border-bottom: .5rem solid #222751;
    padding-bottom: 1rem;
}

code{
    display: inline-block;
    background-color: #343a6b;
    border-radius: 1rem;
    padding: .5rem 1.5rem;
    font-size: 2.4rem;
    line-break: anywhere;
    max-width: fit-content;
    flex-grow: 0 !important;
}

#app{
    background-color: #292929;
    padding: 2rem 0;
}

#app .container{
    display: flex;
    justify-items: center;
    flex-direction: column;
}

#app h2{
    text-transform: uppercase;
    border-bottom: .5rem solid #222751;
    padding-bottom: 1rem;
    max-width: 82rem;
    margin: 1rem 0;
}

#app p{
    margin: 1.5rem 0;
}
#app .container > ul{
    counter-reset: app;
}
#app .container > ul .case::before{
    counter-increment: app;
    content: counter(app);
    background-color: #fff;
    color: #222751;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width:  3rem;
    text-indent: 0;
    position: absolute;
}
#app .case{
    text-transform: uppercase;
    text-indent: 4rem;
}
#app ul > ul li{
    list-style: circle;
    margin-left: 2.5rem;

}

#app li{
    margin: 2rem 0;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 3rem;
}
footer h5{
    font-family: 'Syncopate', sans-serif;
}
footer ul {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

footer ul a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
